spring:
  application:
    name: crud-sample

  datasource:
    driver-class-name: org.postgresql.Driver
    username: admin
    password: admin@123
    url: jdbc:postgresql://localhost:5432/crud_db

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

    properties:
      hibernate:
        format_sql: true

  mvc:
    problemdetails:
      enabled: true

logging:
  level:
    com.example.crud_sample: INFO
